$primaryColor: #117777;
$white: #ffffff;
$textColor: #222222;
$tileBackground: #F3F3F3;

$fontFamilyNormal: open-sans, sans-serif;
$fontFamilySpecial: josefin-sans, sans-serif;
$fontFamilyHeading: raleway, sans-serif;

$fontWeightLight: 300;
$fontWeightRegular: 400;
