@import url("https://use.typekit.net/riv7kbc.css");
@import "mixins/media-query";
@import "variables";

:root {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  color: $textColor;
}

.iuc-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  min-height: calc(100vh - 5rem - 4.25rem);
}
