@import "variables";
@import "mixins/media-query";

.iuc-imprint {
  font-family: $fontFamilyNormal;
  padding: 2rem 10%;

  @include extra-small-screen {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }

  @include medium-screen {
    padding-bottom: 2rem;
  }

  @include small-screen {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.iuc-imprint__heading-one {
  font-family: $fontFamilySpecial;
  font-weight: $fontWeightRegular;
  margin: 0 0 0.5rem;
  font-size: 2rem;
  color: $primaryColor;
}

.iuc-imprint__heading-two {
  font-family: $fontFamilySpecial;
  font-weight: $fontWeightRegular;
  margin: 0;
  font-size: 1.5rem;
  color: $primaryColor;
}

.iuc-imprint__image {
  max-width: 50%;
  height: auto;
  box-shadow: 0 0 0.5rem #00000029;

  @include extra-small-screen {
    max-width: 100%;
  }
}

.iuc-imprint__image--right {
  float: right;
  margin-left: 1rem;
}

.iuc-imprint__image--left {
  float: left;
  margin-right: 1rem;
}

.iuc-imprint__section {
  margin: 0 0 0.5rem;
}

.iuc-imprint__paragraph {
  margin: 0 0 0.5rem;
}

.iuc-imprint__seperator {
  clear: both;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 1px;
  position: relative;

  &::after {
    content: '';
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, $primaryColor 50%, rgba(255, 255, 255, 1) 100%);
    height: 1px;
    width: 100%;
    position: absolute;
  }
}

.iuc-imprint__link {
  color: $primaryColor;
}
