@import "variables";
@import "mixins/media-query";

.iuc-imprint {
  font-family: $fontFamilyNormal;
  padding: 2rem 10%;
  width: 100%;

  @include extra-small-screen {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }

  @include medium-screen {
    padding-bottom: 2rem;
  }

  @include small-screen {
    padding-bottom: 2rem;
    padding-left: 1%;
    padding-right: 1%;
  }
}

.iuc-imprint__heading-one {
  font-family: $fontFamilyHeading;
  font-weight: $fontWeightRegular;
  margin: 0 0 0.5rem;
  font-size: 2rem;
  color: $primaryColor;
}

.iuc-imprint__heading-two {
  font-family: $fontFamilyHeading;
  font-weight: $fontWeightRegular;
  margin: 0;
  font-size: 1.5rem;
  color: $primaryColor;
}

.iuc-imprint__section {
  margin: 0 0 0.5rem;
}

.iuc-imprint__paragraph {
  margin: 0 0 0.5rem;
}

.iuc-imprint__list {
  margin-top: 0;
  margin-bottom: 2rem;
}
