@import "variables";
@import "mixins/media-query";

.iuc-menu {
  border-bottom: 4px solid $primaryColor;
  background: $white;
  color: $primaryColor;
  height: 5rem;
  box-shadow: 0 4px 6px #00000029;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  position: sticky;
  top: 0;

  @include extra-small-screen {
    padding-right: 1%;
    padding-left: 1%;
    height: 4rem;
    display: block;
  }

  @include small-screen {
    padding-right: 1%;
    padding-left: 1%;
    height: 4rem;
    display: block;
  }
}

.iuc-menu__left {
  @include extra-small-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include small-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.iuc-menu__brand {
  font-family: $fontFamilySpecial;
  font-weight: $fontWeightRegular;
  font-size: 2rem;
  margin-right: 2rem;
}

.iuc-menu__item {
  color: transparentize($primaryColor, 0.2);
  text-decoration: none;
  font-size: 2rem;
  font-family: $fontFamilyNormal;
  font-weight: $fontWeightLight;
  margin-right: 2rem;
  transition: color 0.3s;

  @include extra-small-screen {
    display: none;
  }

  @include small-screen {
    display: none;
  }
}

.iuc-menu__item--active {
  color: $primaryColor;
  font-weight: $fontWeightRegular;
}

.iuc-menu__item--icon {
  margin-right: 0;
  margin-left: 1rem;

  svg {
    width: 2rem;
    height: 2rem;
    fill: $primaryColor;
  }
}

.iuc-menu__hamburger-button {
  height: 4rem;
  width: 4rem;
  background: none;
  border: none;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
  position: relative;

  @include large-screen {
    display: none;
  }

  @include medium-screen {
    display: none;
  }
}

.iuc-menu__hamburger-button--open {
  padding-top: 0;
  padding-bottom: 0;
}

.iuc-menu__hamburger-bar {
  display: block;
  background: $primaryColor;
  height: 0.25rem;
  width: 100%;
  transition: transform 0.3s;
  margin-bottom: 0.5rem;

  .iuc-menu__hamburger-button--open & {
    position: absolute;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.iuc-hamburger-menu {
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  position: fixed;
  background: $white;
  padding-top: 1rem;
  padding-left: 1%;
  padding-right: 1%;
  height: calc(100vh - 5rem);
  width: 100%;
  z-index: 99999999;
}

.iuc-hamburger-menu--open {
  display: flex;
}

.iuc-hamburger-menu__top {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.iuc-hamburger-menu__item {
  font-size: 2rem;
  font-family: $fontFamilySpecial;
  font-weight: $fontWeightLight;
  color: $primaryColor;
  text-decoration: none;
}

.iuc-hamburger-menu__item--active {
  font-weight: $fontWeightRegular;
}

.iuc-hamburger-menu__item--icon {
  svg {
    margin-left: 1rem;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    fill: $primaryColor;
  }
}

.iuc-hamburger-menu__links {
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 3rem;
}

.iuc-hamburger-menu__icon-bar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.iuc-hamburger-menu__bottom {
  margin-top: auto;
}

.iuc-menu--open {
  overflow: hidden;
}
